<div id="left_sidebar">
	<%= render 'shared/user_box' %>
	<%= render 'shared/event_box' %>
	<%= render 'shared/server_info_box' %>
</div>
<div id="main_content">
	<%= render 'shared/news_feed' %>
</div>