<div class="box">
<%= render 'partials/group_content', :item => @fireteam, :page => "Fireteam" %>
<p>Belongs to <%= squad_link_helper(@fireteam.squad_id) %></p> 
<h3>Members:</h3>
<% if !@fireteam.users.empty? %>
<ul>
<% @fireteam.users.each do |s| %>
<li><h3><%= link_to s.full_name, user_path(s) %></h3></li>
<% end %>
<% else %>
<p>None to show at this time.</p>
<% end %>
<hr />
<% if bool_au? %>
<%= link_to 'Edit', edit_fireteam_path(@fireteam) %>
<% end %>
</div>