<div id="server_info" class="box small-box">
	<h3>19th Server Info</h3>
	<% if Rails.env == "production" %>
	<div><iframe src="http://cache.www.gametracker.com/components/html0/?host=173.224.120.11:9987&bgColor=C9CED0&fontColor=052C55&titleBgColor=B1C5D2&titleColor=052C55&borderColor=013243&linkColor=052C55&borderLinkColor=999999&showMap=0&currentPlayersHeight=310&showCurrPlayers=1&showTopPlayers=0&showBlogs=0" frameborder="0" scrolling="no" height="500px"></iframe>
	</div>
	<% else %>
	<div><p>This view is reserved for the production environment, due to bandwidth & refresh limits.</p></div>
	<% end %>
</div>