<div id="user_info" class="box small-box">
	<% if user_signed_in? %>
		<p>Signed in User info goes here</p>
	<% else %>
		<h4><%= link_to "Sign up", main_app.new_user_registration_path, {class:"nolink"} %></h4>
		<h4><%= link_to "Sign in", main_app.new_user_session_path, {class:"nolink"}%></h4>
	<% end %>
</div>