<% if @news.empty? %>
	<p>No news to show.</p>
<% else %> 
	<% @news.each do |news| %>
	<div class="news-module">
		<h4><%= news.title %></h4>
		<p><%= news.text %></p>
		<% if current_user.is_admin? %>
		<p><%= link_to "Edit", edit_news_path(news) %><br />
		<%= link_to "Delete", news, method: :delete, data: { confirm: 'Are you sure?' } %></p>
		<% end %>
	</div>
	<% end %>
<% end %>