<div class="box">
<h2><%= @news.title %></h2>
<p><%= @news.parsed_text.html_safe %></p>
<% if bool_au? %>
	<%= link_to 'Edit', edit_news_path(@news) %> |
<% end %>
<%= link_to 'Back', news_index_path %>
</div>