/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= requre 'forem/base'
 */

body {
	background-color: white;
	font-family:"Heveletica","Arial",sans-serif;
	color:#003243;
	margin:0;
}

.nolink {
	text-decoration: none;
	color: inherit;
}

.box {
	border: 2px solid black;
	padding:10px;
	border-radius:25px;
	margin:10px;
	background-color:lightgrey;
	h3 {
		margin-top: 5px;
	}
}
#main_content, #left_sidebar {
	margin-bottom:25px;
}

#main_content {
	width:74%;
	float:right;
}

#left_sidebar {
	width:25%;
	float:left;
}
#news_feed {
	h2 {
		margin:5px;
	}
	.news-module {
		padding:5px;
		h4 {
			margin:2px;
			margin-left:5px;
		}
		p {
			margin:2px;
			margin-left:10px;
		}
	}
}

#user_info {
	text-align:center;
	h4 {
		margin:5px;
		font-size:18pt;
	}
	p {
		margin:5px;
	}
	a:hover {
		text-decoration:underline;
	}
}

#server_info {
	div {
		margin:auto;
		width:90%;
	}
	h3 {
		margin-bottom:2px;
	}
}

#slideshow {
	width:95%;
	height:25%;
	margin:auto;
	margin-top:25px;
	margin-bottom:25px;
	border:2px solid black;
	border-radius:25px;
	overflow:hidden;
}

#header {
	width:95%;
	height:50px;
	border:2px solid black;
	background-color:lightgrey;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
	border-top:none;
	padding-bottom:5px;
	margin:auto;
	margin-bottom:25px;
	#center_logo {
		display:inline-block;
		font-size:25pt;
		text-transform: uppercase;
		position: relative;
		margin-top: 7px;
		margin-left: 5px;
		margin-right: 5px;
		width:17%;
		height:100%;
		text-align: center;
		a {
			vertical-align: bottom;
		}
		a:hover {
			text-shadow: 2px 2px 5px #9E9E9E;
		}
	}

	#navbar_left, #navbar_right {
		width:40%;
		padding:5px;
		text-align: center;
	}
	#navbar_left {
		float:left;
	}
	#navbar_right {
		float:right;
	}
	ul {
		list-style-type:none;
		margin:auto;
		padding:0;
		li {
			display:inline-block;
			font-size: 20pt;
			a {
				text-decoration: none;
				color:inherit;
			}
			a:hover {
				/*background-color:#9E9E9E;*/
				text-decoration: underline;
			}
		}
	}
}

#body {
	width:95%;
	margin:auto;
}

#footer {
	width:95%;
	height:10%;
	font-size:10pt;
	margin:auto;
	border:2px solid black;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom:none;
	padding:5px;
	text-align:center;
	clear:both;
	background-color:lightgrey;
	p {
		margin-top:2px;
		margin-bottom: 0px;
	}
}

